body{
    margin: 0;
    background-color : black;
}
header{
    width: 100%;
    height: 81px;
    background-color: #09212A;
    padding: 20px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-info{
    width: 100%;
    max-width: 1440px;
}
.img-collection{
    width: 100%;
    max-width: 1440px;
}
footer{
    width: 100%;
    height: 128px;
    background-color: #09212A;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-family: Arial, Helvetica, sans-serif;
        color: #99ACB3;
    }
}
.footer-info{
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
